{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "modules": "cjs"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-typescript"
  ]
}